.header {
    .h1 {
        white-space: nowrap;
        font-size: clamp(24px, 4vmin, 46px);
        text-align: center;
        padding: 2vmin 1vmin;
        text-shadow: 0.2vmin 0.2vmin 0 var(--blue-violet), 0.4vmin 0.4vmin 0 var(--deep-pink), 0.8vmin 0.8vmin 0 var(--indigo);
        z-index: 1;
        position: relative;
        margin-bottom: 0;
        .link,
        .link:hover,
        .link:visited,
        .link:active {
            color: var(--blue-violet);
        }
    }
}