.menu {
    text-align: center;
    border-top: 1px solid var(--link-color);
    & ul {
        display: flex;
        justify-content: center;
        & li {
            display: inline-block;
            position: relative;
            &::before {
                content: '';
                border-left: 1px solid var(--link-color);
                position: absolute;
                top: 0;
                bottom: 8vmin;
                left: 47%;
                margin-left: -1px;
                height: 15px;
            }

            &:after {
                content: '';
                width: 5px;
                height: 5px;
                border-radius: 50%;
                position: absolute;
                top: 0;
                left: 47%;
                margin: -3px 0 0 -3px;
                background: var(--link-color);
            }

            >a {
                display: block;
                color: var(--link-color);
                text-shadow: 0.25vmin 0.25vmin 0 rgba(var(--tan), 0.6), 0.5vmin 0.5vmin 0 rgba(var(--orange-lt), 0.6), 1vmin 1vmin 0 rgba(var(--tan), 0.6);
                z-index: 1;
                position: relative;
                padding: 2vmin;
                transition: all 0.3s ease-out;
                transform: scale(0.6);
            }

            &:hover {
                &:before {
                    bottom: 9vmin;
                }

                >a {
                    transform: scale(0.8);
                }
            }

            &.active {
                color: pink;
                &::before {
                    bottom: 10vmin;
                }

                >a {
                    transform: scale(1);
                }
            }
        }
    }
}