:root {
    --background: #0a0a0a;
    --foreground: #ffffff;

    --brown: rgb(72, 36, 23);
    --orange: rgb(183, 86, 40);
    --orange-lt: rgb(215, 120, 63);
    --yellow: rgb(234, 184, 113);
    --tan: rgb(223, 210, 160);

    --dark-blue: rgb(0, 0, 128);
    --dark-blue-semi: rgba(0, 0, 128, 0.6);
    --indigo: rgb(75, 0, 130);
    --indigo-semi: rgba(75, 0, 130, 0.6);
    --blue-violet: rgb(138, 43, 226);
    --deep-pink: rgb(255, 20, 147);
    --red-orange: rgb(255, 69, 0);
    --dark-orange: rgb(255, 140, 0);

    --spiral1: var(--dark-blue-semi);
    --spiral2: var(--indigo-semi);

    --morph-speed: 0.8s;

    --link-color: var(--deep-pink);
}

/* animations */
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
@keyframes spinZoom {
    0% {
        color: var(--blue-violet);
        transform: scale(0) rotate(0deg);
    }
    85% {
        transform: scale(0.85) rotate(1800deg); /* 5 rotations */
    }
    100% {
        color: var(--deep-pink);
        transform: scale(1) rotate(1800deg);
    }
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    font: 16px/1 'Orbitron', arial, sans-serif;
    background: var(--background);
    color: var(--foreground);
	overflow: hidden;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: grid;
    text-align: center;
}

main {
    min-height: 100vh;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

h1,
a {
    font-weight: 700;
}

button {
    outline: none;
}

a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.2s ease-out;
    &:hover {
        color: var(--orange-lt);
    }
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.1);
    border-left-color: #fff;
    border-radius: 50%;
    width: 1rem;
    height: 1rem;
    animation: spin 1s linear infinite;
}

.time-vortex {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 200vmin;
    height: 200vmin;
	margin: -100vmin 0 0 -100vmin;
    animation: spin 80s linear infinite;
    pointer-events: none;
    z-index: -1;
    mix-blend-mode: screen;
	.spiral {
		border-radius: 50%;
        width: 200vmin;
        height: 200vmin;
		box-shadow: -0vmin -20vmin 0vmin var(--spiral1), inset 0vmin 20vmin 0vmin var(--spiral2);
		position: absolute;
	}
    .spiral1 {
        top: -50%;
        transform: rotate(90deg);
    }
    .spiral2 {
        top: -35%;
        right: -35%;
        transform: rotate(135deg);
    }
    .spiral3 {
        right: -50%;
        transform: rotate(180deg);
    }
    .spiral4 {
        right: -35%;
        bottom: -35%;
        transform: rotate(225deg);
    }
    .spiral5 {
        bottom: -50%;
        transform: rotate(270deg);
    }
    .spiral6 {
        bottom: -35%;
        left: -35%;
        transform: rotate(315deg);
    }
    .spiral7 {
        left: -50%;
        transform: rotate(0deg);
    }
    .spiral8 {
        left: -35%;
        top: -35%;
        transform: rotate(45deg);
    }
}

#starfield {
    z-index: -1 !important;
    mix-blend-mode: none;
}

.home-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.home-message {
    animation: spinZoom 3s ease-out;
    margin-bottom: 0;
    text-align: center;
    color: var(--deep-pink);
    text-shadow: 0.3vmin 0.3vmin 0 var(--blue-violet), 0.6vmin 0.6vmin 0 var(--dark-blue);
}